{% comment %}
<script id="modalTemplate" type="text/template">
  {% raw %}
  <div id="ajaxifyModal" class="ajaxify-modal header-cart">
      <div id="ajaxifyCart" class="ajaxifyCart--content"></div>
  </div>
  {% endraw %}
</script>
<script id="ajaxifyQty" type="text/template">
  {% raw %}
    <div class="ajaxifyCart--qty">
      <input type="text" class="ajaxifyCart--num" value="{{itemQty}}" data-id="{{key}}" min="0" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--add" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}">+</span>
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--minus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemMinus}}">-</span>
  </div>
  {% endraw %}
</script>
<script id="jsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <input type="text" class="js--num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <span class="js--qty-adjuster js--add" data-id="{{key}}" data-qty="{{itemAdd}}">+</span>
      <span class="js--qty-adjuster js--minus" data-id="{{key}}" data-qty="{{itemMinus}}">-</span>
  </div>
  {% endraw %}
</script>

{% if settings.ajax_cart_method != 'page' %} 
  <script defer>     
  /*document.addEventListener("DOMContentLoaded", () => {
    jQuery(function($) {
      ajaxifyShopify.init({
        method: 'modal',
        wrapperClass: 'wrapper',
        formSelector: '.addToCartForm',
        addToCartSelector: '.addToCart',
        cartCountSelector: '.cart-count',
        toggleCartButton: '.cart-toggle',
        useCartTemplate: true,
        btnClass: 'btn',
        moneyFormat: moneyFormat,
        {% if settings.ajax_cart_method == "page" %} 
        disableAjaxCart: true,
        {% else %}
        disableAjaxCart: false,
        {% endif %}
        enableQtySelectors: false
      });
    });  
  }); */    
  </script>
{% endif %}
{% endcomment %}