<div class="cont-badges-star"> 
  <div product-id="{{ product.id }}" class="alr-display-review-badge"></div><ul style="padding-left: 0;display: inline;margin:0 auto;list-style: none;" class="alireview-title-star-ratting"></ul>
  <a href="#looxReviews"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div></a>
  <div class="ryviu-widget"></div>
  <a class="product-reviews-stars" title="voir les avis" name="product-reviews" href="#shopify-product-reviews"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></a> 
</div>