{% if section.blocks.size > 0 %} 

{% render 'section-custom-css', elem: section %}
{% render 'section-adv-content-custom-css', elem: section %}

<div class="custom-content section-id-{{ section.id }} {% if section.settings.section_spaced %}section-spaced{% endif %}
   {% unless section.settings.block_color_enable %}color-scheme {{ section.settings.color_scheme }}{% endunless %} 
  section-id-{{ section.id }} wow fadeIn {{ section.settings.class }}" 
  id="{{ section.settings.id }}"  
  data-section-id="{{ section.id }}" 
  data-section-type="adv-content">  
  <div class="container {% if section.settings.full_page %} wrapper-full-page {% else %} wrapper{% endif %}">
    
    {% for block in section.blocks %}
    {% case block.settings.width %}
    {% when '25%' %}
    {%- assign block_width = 'one-quarter' -%}
    {% when '33%' %}
    {%- assign block_width = 'one-third' -%}
    {% when '50%' %}
    {%- assign block_width = 'one-half' -%}
    {% when '66%' %}
    {%- assign block_width = 'two-thirds' -%}
    {% when '75%' %}
    {%- assign block_width = 'three-quarters' -%}
    {% when '100%' %}
    {%- assign block_width = 'one-whole' -%}
    {% endcase %}

    {% case block.settings.width_sm %}
    {% when '50%' %}
    {%- assign block_width_sm = 'small--one-half' -%}
    {% when '100%' %}
    {%- assign block_width_sm = 'small--one-whole' -%}
    {% endcase %}

    {% assign loop1 = forloop.index | times: 0.30 %}   

    <div id="block-id-{{ block.id }}" class="block-id-{{ block.id }} custom__item wow slideInUp {{ block_width }} {{ block_width_sm }}
      {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %} 
      {% unless block.settings.block_color_enable %}color-scheme {{ block.settings.color_scheme }}{% endunless %} {{ block.settings.class }}"
      {{ block.shopify_attributes }} 
      id="{{ block.settings.id }}"
      data-wow-duration="{{ settings.wow_effects_duration }}s" 
      data-wow-delay="{{ loop1 }}s">
      <div class="custom__item-inner custom__item-inner--{{ block.type }} {% if block.settings.section_spaced %}section-spaced{% endif %} {{ block.settings.text_align }}">
        {% case block.type %}
        {% when 'html' %}  
       
        <div class="rte" >
          {% render 'svg-icons', block: block %}

          {% if block.settings.zone_html_icons_custom != blank %}
          <div class="svg-icons {{ block.settings.text_align }}">
            {{ block.settings.zone_html_icons_custom }}
          </div>
          {% endif %} 

          {% if block.settings.icon_image %}
          <div class="cont-img svg-icons {{ block.settings.text_align }}">
            <img                            
              class="sflazy lazyload"  
              loading="lazy"
              width="{{ block.settings.icon_image.width }}"
              height="{{ block.settings.icon_image.height }}"
              src="{{ block.settings.icon_image | img_url: '200x' }}"
              srcset="{{ block.settings.icon_image | img_url: '400x' }} 400w, {{ block.settings.icon_image | img_url: '600x' }} 600w, {{ block.settings.icon_image | img_url: '900x' }} 900w"
             
              alt="{{ block.settings.icon_image.alt }}" />  
              <style>
                #block-id-{{ block.id }} .cont-img > img {
                   max-height:{{ block.settings.zone_html_image_height_sm }}; 
                   border-radius:{{ block.settings.block_image_radius_v2}};
                }
                @media screen and (min-width: 750px) {
                  #block-id-{{ block.id }} .cont-img > img {
                    max-height:{{ block.settings.zone_html_image_height }};                    
                  }
                }
              </style>
          </div>
          {% endif %}            
          
          {% if block.settings.title != blank %}
          <{{ block.settings.title_hn }} class="h4 block-title">{{ block.settings.title | escape }}</{{ block.settings.title_hn }}>
          {% endif %}
          {% if block.settings.text != blank %}
          <div class="rte">
            {{ block.settings.text }}           
          </div>
          {% endif %}
          
          {% if block.settings.code != blank %}
          <div class="rte">            
            {{ block.settings.code }}
          </div>
          {% endif %}
          
          {% assign page = pages[block.settings.page] %}          

          <div class="rte">
            {{ page.content }}
          </div>

          {% if block.settings.button_label != blank and block.settings.button_link != blank %}
          <a href="{{ block.settings.button_link }}" class="btn {{ block.settings.btn_scheme }}" >
            {{ block.settings.button_label | escape }}
          </a>
          {% endif %}
         
        </div>
       
        {% endcase %}
      </div>
    </div>

    {% render 'block-adv-content-custom-css', elem: block %}

    {% endfor %}
    {% if section.blocks.size == 0 %}
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item">
          <div class="rte text-center">
            {{ 'homepage.onboarding.no_content' | t }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>



{% endif %}

{% schema %}
{
 
  "name":{
    "fr":"Blocs personnalisés",
    "es":"Zonas personalizadas",
    "en":"Custom zones"
  },
  "class": "advanced-content",
  "blocks":[
    {
      "type":"html",
      "name":{
        "fr":"Zone personnalisée",
        "es":"Contenido personalizado",
        "en":"Custom block"
      },
      "settings":[
      {
        "type":"select",
        "id":"zone_html_icons",
        "label":{
          "fr":"Icône de la zone",
          "es":"Icono de zona",
          "en":"Block icon"
        },
        "options":[
          {
            "value":"0",
            "label":{
              "fr":"Aucune",
              "es":"Ninguna",
              "en":"None"
            }
          },
          {
            "value":"9",
            "label":{
              "fr":"Livraison 1",
              "es":"Envío 1",
              "en":"Shipping 1"
            }
          },
          {
            "value":"8",
            "label":{
              "fr":"Livraison 2",
              "es":"Envío 2",
              "en":"Shipping 2"
            }
          },
          {
            "value":"1",
            "label":{
              "fr":"Livraison 3",
              "es":"Envío 3",
              "en":"Shipping 3"
            }
          },
          {
            "value":"13",
            "label":{
              "fr":"Livraison 4",
              "es":"Envío 3",
              "en":"Shipping 4"
            }
          },
          {
            "value":"11",
            "label":{
              "fr":"Carte Bancaire 1",
              "es":"Tarjeta de pago 1",
              "en":"Credit card 1"
            }
          },
          {
            "value":"2",
            "label":{
              "fr":"Carte Bancaire 2",
              "es":"Tarjeta de pago 2",
              "en":"Credit card 2"
            }
          },
          {
            "value":"10",
            "label":{
              "fr":"Carte Bancaire 3",
              "es":"Tarjeta de pago 3",
              "en":"Credit card 3"
            }
          },
          {
            "value":"14",
            "label":{
              "fr":"Carte Bancaire 4",
              "es":"Tarjeta de pago 4",
              "en":"Credit card 4"
            }
          },
          {
            "value":"3",
            "label":{
              "fr":"Service client 1",
              "es":"Atención al cliente 1",
              "en":"Customer service 1"
            }
          },
          {
            "value":"7",
            "label":{
              "fr":"Service client 2",
              "es":"Atención al cliente 2",
              "en":"Customer service 2"
            }
          },
          {
            "value":"12",
            "label":{
              "fr":"Service client 3",
              "es":"Atención al cliente 3",
              "en":"Customer service 3"
            }
          },
          {
            "value":"16",
            "label":{
              "fr":"Service client 4",
              "es":"Atención al cliente 4",
              "en":"Customer service 4"
            }
          },
          {
            "value":"4",
            "label":{
              "fr":"Camion 1",
              "es":"Camión 1",
              "en":"Truck 1"
            }
          },
          {
            "value":"5",
            "label":{
              "fr":"Camion 2",
              "es":"Camión 2",
              "en":"Truck 2"
            }
          },
          {
            "value":"6",
            "label":{
              "fr":"Camion 3",
              "es":"Camión 3",
              "en":"Truck 3"
            }
          },
          {
            "value":"15",
            "label":{
              "fr":"Satisfait ou remboursé",
              "es":"Satisfaction guaranteed",
              "en":"Satisfaction guaranteed"
            }
          }
        ]
      },
      {
        "type":"text",
        "id":"zone_html_icons_custom",
        "label":{
          "fr":"Code Svg personnalisé",
          "es":"Custom SVG",
          "en":"Custom SVG"
        }
      },
      {
        "type":"image_picker",
        "id":"icon_image",
        "label":{
          "fr":"Image",
          "es":"Image",
          "en":"Image"
        }          
      },
      {
        "type":"text",
        "id":"zone_html_image_height",
        "label":{
          "fr":"Hauteur max de l'image (Bureau)",
          "es":"Max Height image size (Desktop)",
          "en":"Max Height image size (Desktop)"
        },
        "default": "400px"
      },
      {
        "type":"text",
        "id":"zone_html_image_height_sm",
         "label":{
          "fr":"Hauteur max de l'image (Mobile)",
          "es":"Max Height image size (Mobile)",
          "en":"Max Height image size (Mobile)"
        },
        "default": "200px"
      },
      {
        "type": "text",
        "id": "title",
        "label": {
          "fr": "Titre",
          "es": "Título",
          "en": "Title"
        },
        "default": {
          "fr": "Titre de la zone",
          "es": "Block title",
          "en": "Block title"
        }
      },
      {
        "type": "select",
        "id": "title_hn",
        "label": {
          "fr": "Balise Hn (SEO)",
          "es": "Hn tag (SEO)",
          "en": "Hn tag (SEO)"
        },
        "default": "div",
        "options": [
          {
            "value": "h2",
            "label": "h2"
          },
          {
            "value": "h3",
            "label": "h3"
          },
          {
            "value": "h4",
            "label": "h4"
          },
          {
            "value": "h5",
            "label": "h5"
          },
          {
            "value": "h6",
            "label": "h6"
          },
          {
            "value": "div",
            "label": "div"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "text",
        "label": {
          "fr": "Texte",
          "es": "Texto",
          "en": "Text"
        },
        "default": {
          "fr": "<p>Texte d'exemple</p>",
          "es": "<p>Ejemplo de texto</p>",
          "en": "<p>Sample text</p>"
        }
      },
      {
        "type":"html",
        "id":"code",
        "label":{
          "fr":"Code HTML",
          "es":"Código HTML",
          "en":"HTML Code"
        }
      },

      {
        "type": "text",
        "id": "button_label",
        "label": {
          "fr": "Titre du bouton",
          "es": "Título del botón",
          "en": "Button title"
        }
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "fr": "Lien du bouton",
          "es": "Enlace del botón",
          "en": "Button link"
        }
      },
      
      {
        "type": "page",
        "id": "page",
        "label": {
          "fr": "Page",
          "es": "Página",
          "en": "Page"
        }            
      },

      {
        "type":"header",
        "content":{
          "fr":"Mise en forme",
          "es":"Layout",
          "en":"Layout"
        }
      },
      {
        "type":"select",
        "id":"text_align",
        "label":{
          "fr":"Alignement des textes",
          "es":"Alignement des textes",
          "en":"Text alignment"
        },
        "default": "text-center",
        "options":[
          
          {
            "value":"text-left",
            "label":{
              "fr":"Gauche",
              "es":"Left",
              "en":"Left"
            }
          },
          {
            "value":"text-center",
            "label":{
              "fr":"Centré",
              "es":"Centrado",
              "en":"Center"
            }
          },
          {
            "value":"text-right",
            "label":{
              "fr":"A droite",
              "es":"A la derecha",
              "en":"Right"
            }
          }
        ]
      },
      {
        "type":"select",
        "id":"width",
        "label":{
          "fr":"Largeur de la zone (desktop)",
          "es":"Anchura de la zona (desktop)",
          "en":"Zone width (desktop)"
        },
        "default":"100%",
        "options":[
          {
            "value":"25%",
            "label":"25%"
          },
          {
            "value":"33%",
            "label":"33%"
          },
          {
            "value":"50%",
            "label":"50%"
          },
          {
            "value":"66%",
            "label":"66%"
          },
          {
            "value":"75%",
            "label":"75%"
          },
          {
            "value":"100%",
            "label":"100%"
          }
        ]
      },
      {
        "type":"select",
        "id":"width_sm",
        "label":{
          "fr":"Largeur de la zone (mobile)",
          "es":"Anchura de la zona (mobile)",
          "en":"Zone width (mobile)"
        },
        "default":"100%",
        "options":[            
          {
            "value":"50%",
            "label":"50%"
          },            
          {
            "value":"100%",
            "label":"100%"
          }
        ]
      },       
    
    {
      "type":"text",
      "id":"block_image_radius_v2",     
      "label":{
        "fr":"Arrondi de l'image",
        "es":"Rounded corners on image",
        "en":"Rounded corners on image"
      },
      "default":"0px",
      "info":"px or % (50% = perfect circle)"
    },
    {
      "type":"select",
      "id":"block_border_type",
      "label":{
        "fr":"Type de bordure",
        "es":"Border type",
        "en":"Border type"
      },
      "default":"0",
      "options":[
        {
          "value":"0",
          "label":{
            "fr":"Sans",
            "es":"None",
            "en":"None"
          }
        },
        {
          "value":"border-top",
          "label":{
            "fr":"Haut",
            "es":"Top",
            "en":"Top"
          }
        },
        {
          "value":"border-bottom",
          "label":{
            "fr":"Bas",
            "es":"Bottom",
            "en":"Bottom"
          }
        },
        {
          "value":"border-left",
          "label":{
            "fr":"Gauche",
            "es":"Left",
            "en":"Left"
          }
        },
        {
          "value":"border-right",
          "label":{
            "fr":"Droit",
            "es":"Right",
            "en":"Right"
          }
        },
        {
          "value":"border",
          "label":{
            "fr":"Complète",
            "es":"Full",
            "en":"Full"
          }
        }       
      ]
    },
    {
      "type":"range",
      "id":"block_border_size",
      "min":0,
      "max":50,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille de la bordure",
        "es":"Border size",
        "en":"Border size"
      },
      "default":0
    },
    {
      "type":"color",
      "id":"block_border_color",
      "label":{
        "fr":"Couleur de la bordure",
        "es":"Border color",
        "en":"Border color"
      },
      "default":"#333333"
    },
    
    
    {
      "type":"checkbox",
      "id":"section_spaced",       
      "label":{
         "fr":"Espacer la section - Haut",
         "es":"Add space - Above the block",
         "en":"Add space - Above the block"
      }
   },
   {
     "type": "select",
     "id": "color_scheme",
     "label": {
       "fr": "Combinaison de couleurs",
       "es": "Color combinations",
       "en": "Color combinations"
     },
     "default": "color-scheme-none",
     "options": [
       {
         "value": "color-scheme-none",
         "label": {
           "fr": "Sans",
           "es": "None",
           "en": "None"
         }
       },
       {
         "value": "color-scheme-1",
         "label": {
           "fr": "Combinaison 1",
           "es": "Combination 1",
           "en": "Combination 1"
         }
       },
        {
         "value": "color-scheme-2",
         "label": {
           "fr": "Combinaison 2",
           "es": "Combination 2",
           "en": "Combination 2"
         }
       },
        {
         "value": "color-scheme-3",
         "label": {
           "fr": "Combinaison 3",
           "es": "Combination 3",
           "en": "Combination 3"
         }
       },
       {
         "value": "color-scheme-inverse",
         "label": {
           "fr": "Inversé",
           "es": "Inverted",
           "en": "Inverted"
         }
       }
     ]
   }, 
   {
    "type": "select",
    "id": "btn_scheme",
    "label": {
      "fr": "Style du bouton",
      "es": "Button style",
      "en": "Button style"
    },
    "default": "btn-primary",
    "options": [
    {
      "value": "btn-inherit",        
      "label": {
        "fr": "Hérité",
        "es": "Inherited",
        "en": "Inherited"
      }
    },
    {
      "value": "btn-primary",        
      "label": {
        "fr": "Principal",
        "es": "Primary",
        "en": "Primary"
      }
    },
    {
      "value": "btn-secondary",        
      "label": {
        "fr": "Secondaire",
        "es": "Secondary",
        "en": "Secondary"
      }
    },
    {
      "value": "btn-third",
      "label": {
        "fr": "Transparent",
        "es": "Transparent",
        "en": "Transparent"
      }        
    }
    ]
  }, 
   
    {
      "type": "header",
      "content": {
        "fr": "Personnalisation des couleurs",
        "es": "Color customization",
        "en": "Color customization"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "[Tutoriel vidéo](https://youtu.be/mX5vrnrv4_I)",
        "es": "[Video tutorial](https://youtu.be/j8md1egrR_4)",
        "en": "[Video tutorial](https://youtu.be/j8md1egrR_4)"
      }
    },
    {
      "type": "paragraph",
      "content": {
      "fr": "Reprend la main sur les paramètres génériques du thème",
      "es": "Will replace the generic customization from theme settings",
      "en": "Will replace the generic customization from theme settings"
      }
    },
    
    {
      "type": "header",
      "content": {
          "fr": "Section",
          "es": "Section",
          "en": "Section"
      }
    },
    
    {
      "type": "checkbox",
      "id": "block_color_enable",
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },
    
    
    {
      "type":"color",
      "id":"block_bgcolor",
      "label":{
        "fr":"Couleur de fond",
        "es":"Background color",
        "en":"Background color"
      },
      "default":"#F0F0F0"
    },
    
    {
      "type":"image_picker",
      "id":"block_image",
      "label":{
        "fr":"Image de fond (optionnel)",
        "es":"Background image (optional)",
        "en":"Background image (optional)"
      },
      "info":"1900px Min"
    },
    {
      "type":"checkbox",
      "id":"section_parallax",
      "label":{
        "fr":"Effet parallax",
        "es":"Parallax effect",
        "en":"Parallax effect"
      },
      "default":false
    },
    {
      "type":"checkbox",
      "id":"block_bgcolor_gradient",
      "label":{
        "fr":"Activer la prise en charge du dégradé",
        "es":"Enable gradient",
        "en":"Enable gradient"
      },
      "default":false
    },
    {
      "type":"range",
      "id":"block_bgcolor_gradient_direction",
      "min":0,
      "max":180,
      "step":2,
      "unit":"deg",
      "label":{
        "fr":"Sens du dégradé",
        "es":"Gradient direction",
        "en":"Gradient direction"
      },
      "default":90
    },
    {
      "type":"color",
      "id":"block_bgcolor_gradient_1",
      "label":{
        "fr":"Fond - Couleur 1",
        "es":"Background - Color 1",
        "en":"Background - Color 1"
      },
      "default":"#F0F0F0"
    },
    {
      "type":"color",
      "id":"block_bgcolor_gradient_2",
      "label":{
        "fr":"Fond - Couleur 2",
        "es":"Background - Color 2",
        "en":"Background - Color 2"
      },
      "default":"#333333"
    },
    {
      "type":"range",
      "id":"block_bgcolor_gradient_1_percent_2",
      "min":0,
      "max":100,
      "step":1,
      "unit":"%",
      "label":{
        "fr":"Proportion des couleurs",
        "es":"Color ratio",
        "en":"Color ratio"
      },
      "default":0
    },
    {
      "type":"range",
      "id":"block_bgcolor_gradient_1_percent_1",
      "min":0,
      "max":100,
      "step":1,
      "unit":"%",
      "label":{
        "fr":"Début du flou",
        "es":"Blur beginning",
        "en":"Blur beginning"
      },
      "default":0
    },
    {
      "type":"range",
      "id":"block_bgcolor_gradient_2_percent_1",
      "min":0,
      "max":100,
      "step":1,
      "unit":"%",
      "label":{
        "fr":"Fin du flou ",
        "es":"Blur ending",
        "en":"Blur ending"
      },
      "default":100
    },
    {
      "type":"color",
      "id":"section_shadow_color",
      "label":{
        "fr":"Ombre de la section",
        "es":"Shadow color of the section",
        "en":"Shadow color of the section"
      },
      "default":"#000000"
    },
    {
      "type":"range",
      "id":"section_shadow_opacity",
      "min":0,
      "max":1,
      "step":0.1,
      "unit":"deg",
      "label":{
        "fr":"Degré d'opacité de la section",
        "es":"Opacity of the section",
        "en":"Opacity of the section"
      },
      "default":0.2
    },
    {
      "type":"range",
      "id":"section_shadow_size",
      "min":0,
      "max":100,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille de l'ombre de la section",
        "es":"Shadow size of the section",
        "en":"Shadow size of the section"
      },
      "default":0
    },
    {
      "type":"color",
      "id":"block_shadow_color",
      "label":{
        "fr":"Ombre de l'image",
        "es":"Shadow color of the image",
        "en":"Shadow color of the image"
      },
      "default":"#000000"
    },
    {
      "type":"range",
      "id":"block_shadow_opacity",
      "min":0,
      "max":1,
      "step":0.1,
      "unit":"deg",
      "label":{
        "fr":"Degré d'opacité de l'image",
        "es":"Opacity of the image",
        "en":"Opacity of the image"
      },
      "default":0.2
    },
    {
      "type":"range",
      "id":"block_shadow_size",
      "min":0,
      "max":100,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille de l'ombre",
        "es":"Shadow size and image area",
        "en":"Shadow size and image area"
      },
      "info":{
        "fr":"Décalage automatique de l'image pour permettre l'affichage de l'ombrage",
        "es":"Automatically offsets the image to allow shading to be displayed",
        "en":"Automatically offsets the image to allow shading to be displayed"
      },
      "default":0
    },


    {
      "type": "header",
      "content": {
          "fr": "Contenu",
          "es": "Content",
          "en": "Content"
      }
    },
    {
      "type": "checkbox",
      "id": "colors_product_content",
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },
    
    {
      "type":"color",
      "id":"block_title_color",
      "label":{
        "fr":"Couleur du titre",
        "es":"Title color",
        "en":"Title color"
      },
      "default":"#333333"
    },
    {
      "type":"color",
      "id":"block_color",
      "label":{
        "fr":"Couleur du texte",
        "es":"Text color",
        "en":"Text color"
      },
      "default":"#555555"
    },
    {
      "type":"color",
      "id":"block_btn_color",       
      "label":{
         "fr":"Texte du bouton",
         "es":"Text button",
         "en":"Text button"
      },
      "default":"#FFFFFF"
    },
    {
      "type":"color",
      "id":"block_btn_bgcolor",       
      "label":{
         "fr":"Fond du bouton",
         "es":"color of button",
         "en":"Button background"
      },
      "default":"#333333"
    },
    {
      "type":"color",
      "id":"block_btn_color_hover",       
      "label":{
         "fr":"Texte du bouton survol",
         "es":"Text button on hover",
         "en":"Button text on hover"
      },
      "default":"#FFFFFF"
    },
    {
      "type":"color",
      "id":"block_btn_bgcolor_hover",       
      "label":{
         "fr":"Fond du bouton au survol",
         "es":"Button text background on hover",
         "en":"Button text background on hover"
      },
      "default":"#333333"
    },
    {
      "type":"color",
      "id":"block_btn_border_color",       
      "label":{
         "fr":"Bordure du bouton",
         "es":"Border of button  ",
         "en":"Border of button"
      },
      "default":"#FFFFFF"
    },
    {
      "type":"color",
      "id":"block_btn_border_color_hover",       
      "label":{
         "fr":"Fond bordure au survol",
         "es":"Border background on hover",
         "en":"Border background on hover"
      },
      "default":"#333333"
    },

    {
      "type": "header",
      "content": {
        "fr": "Personnalisation des tailles",
        "es": "Size customization",
        "en": "Size customization"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "[Tutoriel vidéo](https://youtu.be/ovHmpm105x8)",
        "es": "[Video tutorial](https://youtu.be/i4PZ8W99KYA)",
        "en": "[Video tutorial](https://youtu.be/i4PZ8W99KYA)"
      }
    },
    {
      "type": "checkbox",
      "id": "block_size_enable",
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "fr": "Format Bureau",
        "es": "Layout (Desktop)",
        "en": "Layout (Desktop)"
      }
    },  
   
    {
      "type":"range",
      "id":"block_title_size",
      "min":0,
      "max":60,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille du titre",
        "es":"Title font size",
        "en":"Title font size"
      },
      "default":21
    },
    {
      "type":"range",
      "id":"block_text_size",
      "min":0,
      "max":60,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille du texte",
        "es":"Text font size",
        "en":"Text font size"
      },
      "default":16
    },
    {
      "type": "range",
      "id": "block_btn_size",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": {
        "fr": "Taille du bouton",
        "es": "Font size of button",
        "en": "Font size of button"
      },
      "default": 26
   },
   {
      "type": "range",
      "id": "block_btn_border_size",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": {
        "fr": "Taille de la bordure du bouton",
        "es": "Border size of button",
        "en": "Border size of button"
      },
      "default": 0
   }, 
    {
      "type": "header",
      "content": {
        "fr": "Format Mobile",
        "es": "Layout (Mobile)",
        "en": "Layout (Mobile)"
      }
    },
    {
      "type":"range",
      "id":"block_title_size_sm",
      "min":0,
      "max":60,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille du titre",
        "es":"Title font size",
        "en":"Title font size"
      },
      "default":21
    },
    {
      "type":"range",
      "id":"block_text_size_sm",
      "min":0,
      "max":60,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille du texte",
        "es":"Text font size",
        "en":"Text font size"
      },
      "default":16
    },
    {
      "type": "range",
      "id": "block_btn_size_sm",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": {
        "fr": "Taille du bouton",
        "es": "Font size of button",
        "en": "Font size of button"
      },
      "default": 26 
   },
   {
      "type": "range",
      "id": "block_btn_border_size_sm",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": {
        "fr": "Taille de la bordure du bouton",
        "es": "Border size of button",
        "en": "Border size of button"
      },
      "default": 0
   },
    {
      "type": "header",
      "content": {
        "fr": "Personnalisation de la disposition",
        "es": "Spacing customization",
        "en": "Spacing customization"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "[Tutoriel vidéo](https://youtu.be/LLS1yEwaPsw)",
        "es": "[Video tutorial](https://youtu.be/Lv-3vaK-wNE)",
        "en": "[Video tutorial](https://youtu.be/Lv-3vaK-wNE)"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "Les espacements sont séparés par des espaces avec 4 valeurs maximales - Haut Droit Bas Gauche - L'unité peut être le rem, px, % - Exemple: 20px 0px 20px 20px - [En savoir plus](https://developer.mozilla.org/fr/docs/Web/CSS/padding) ",
        "es": "Spacing values are separated by spaces with 4 maximum values - Top Right Bottom Left - Unit can be rem, px, % - Example: 20px 0px 20px 20px - [Read more](https://developer.mozilla.org/en-US/docs/Web/CSS/padding)",
        "en": "Spacing values are separated by spaces with 4 maximum values - Top Right Bottom Left - Unit can be rem, px, % - Example: 20px 0px 20px 20px - [Read more](https://developer.mozilla.org/en-US/docs/Web/CSS/padding)"
        }
    },
    {
      "type": "checkbox",
      "id": "block_spacing_enable",     
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },
    {
      "type": "text",
      "id": "section_max_width",
      "label": {
        "fr": "Longueur max (% ou px)",
        "es": "Max width (% ou px)",
        "en": "Max width (% or px)"
      }
    },
    {
      "type": "header",
      "content": {
        "fr": "Format Bureau",
        "es": "Layout (Desktop)",
        "en": "Layout (Desktop)"
      }
    },
    {
      "type": "text",
      "id": "block_padding",
      "label": {
        "fr": "Espacements intérieur",
        "es": "Interior Spacing",
        "en": "Interior Spacing"
      }
    },
    {
      "type": "text",
      "id": "block_margin",
      "label": {
        "fr": "Espacements extérieur",
        "es": "Exterior Spacing",
        "en": "Exterior Spacing"
      }
    },
    {
      "type": "header",
      "content": {
        "fr": "Format Mobile",
        "es": "Layout (Mobile)",
        "en": "Layout (Mobile)"
      }
    },
    {
      "type": "text",
      "id": "block_padding_sm",
      "label": {
        "fr": "Espacements intérieur",
        "es": "Interior Spacing",
        "en": "Interior Spacing"
      }
    },
    {
      "type": "text",
      "id": "block_margin_sm",
      "label": {
        "fr": "Espacements extérieur",
        "es": "Exterior Spacing",
        "en": "Exterior Spacing"
      }
    },
    {
      "type": "header",
      "content": {
        "fr": "Personnalisation avancée",
        "es": "Advanced CSS",
        "en": "Advanced CSS"
      }
    },
    {
      "type": "text",
      "id": "class",
      "label": "CSS Class"
    },
    {
      "type": "text",
      "id": "id",
      "label": "CSS Id"
    }

      ]
    }
  ],
  "presets":[
      {
      "name":{
        "fr":"Blocs personnalisés",
        "es":"Zonas personalizadas",
        "en":"Custom zones"
      },
  
      "category":{
        "fr":"Contenu",
        "es":"Contenido",
        "en":"Content"
      },
      "blocks":[
        {
          "type":"html"
        }
      ]
    }
  ],
  "settings":[
  {
    "type": "paragraph",
    "content": {
      "fr": "[Tutoriel vidéo](https://youtu.be/yrkrMMVE6hY)",
      "es": "[Video tutorial](https://youtu.be/uSEX_bp26CE)",
      "en": "[Video tutorial](https://youtu.be/uSEX_bp26CE)"
    }
  },
    {
      "type": "checkbox",
      "id": "full_page",
      "label": {
        "fr": "Pleine page",
        "es": "Full page",
        "en": "Full page"
      },
      "default": true
    },  
    {
       "type":"checkbox",
       "id":"section_spaced",       
       "label":{
          "fr":"Espacer la section - Haut",
          "es":"Add space - Above the section",
          "en":"Add space - Above the section"
       },
       "default":true
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": {
        "fr": "Combinaison de couleurs",
        "es": "Color combinations",
        "en": "Color combinations"
      },
      "default": "color-scheme-none",
      "options": [
        {
          "value": "color-scheme-none",
          "label": {
            "fr": "Sans",
            "es": "None",
            "en": "None"
          }
        },
        {
          "value": "color-scheme-1",
          "label": {
            "fr": "Combinaison 1",
            "es": "Combination 1",
            "en": "Combination 1"
          }
        },
         {
          "value": "color-scheme-2",
          "label": {
            "fr": "Combinaison 2",
            "es": "Combination 2",
            "en": "Combination 2"
          }
        },
         {
          "value": "color-scheme-3",
          "label": {
            "fr": "Combinaison 3",
            "es": "Combination 3",
            "en": "Combination 3"
          }
        },
        {
          "value": "color-scheme-inverse",
          "label": {
            "fr": "Inversé",
            "es": "Inverted",
            "en": "Inverted"
          }
        }
      ]
    },      
    
    {
      "type": "header",
      "content": {
        "fr": "Personnalisation des couleurs",
        "es": "Color customization",
        "en": "Color customization"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "[Tutoriel vidéo](https://youtu.be/mX5vrnrv4_I)",
        "es": "[Video tutorial](https://youtu.be/j8md1egrR_4)",
        "en": "[Video tutorial](https://youtu.be/j8md1egrR_4)"
      }
    },
    {
      "type": "paragraph",
      "content": {
      "fr": "Reprend la main sur les paramètres génériques du thème",
      "es": "Will replace the generic customization from theme settings",
      "en": "Will replace the generic customization from theme settings"
      }
    },

    {
      "type": "header",
      "content": {
          "fr": "Section",
          "es": "Section",
          "en": "Section"
      }
    },
    
    {
      "type": "checkbox",
      "id": "block_color_enable",
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },

    
    {
      "type":"color",
      "id":"block_bgcolor",
      "label":{
        "fr":"Fond de la section",
        "es":"Section background color",
        "en":"Section background color"
      },
      "default":"#F0F0F0"
    },
    {
      "type":"image_picker",
      "id":"block_image",
      "label":{
        "fr":"Image de fond (optionnel)",
        "es":"Background image (optional)",
        "en":"Background image (optional)"
      },
      "info":"1900px Min"
    },
    {
      "type":"checkbox",
      "id":"section_parallax",
      "label":{
        "fr":"Effet parallax",
        "es":"Parallax effect",
        "en":"Parallax effect"
      },
      "default":false
    },
    {
      "type":"checkbox",
      "id":"block_bgcolor_gradient",
      "label":{
        "fr":"Activer la prise en charge du dégradé",
        "es":"Enable gradient",
        "en":"Enable gradient"
      },
      "default":false
    },
    {
      "type":"range",
      "id":"block_bgcolor_gradient_direction",
      "min":0,
      "max":180,
      "step":2,
      "unit":"deg",
      "label":{
        "fr":"Sens du dégradé",
        "es":"Gradient direction",
        "en":"Gradient direction"
      },
      "default":90
    },
    {
      "type":"color",
      "id":"block_bgcolor_gradient_1",
      "label":{
        "fr":"Fond - Couleur 1",
        "es":"Background - Color 1",
        "en":"Background - Color 1"
      },
      "default":"#F0F0F0"
    },
    {
      "type":"color",
      "id":"block_bgcolor_gradient_2",
      "label":{
        "fr":"Fond - Couleur 2",
        "es":"Background - Color 2",
        "en":"Background - Color 2"
      },
      "default":"#333333"
    },
    {
      "type":"range",
      "id":"block_bgcolor_gradient_1_percent_2",
      "min":0,
      "max":100,
      "step":1,
      "unit":"%",
      "label":{
        "fr":"Proportion des couleurs",
        "es":"Color ratio",
        "en":"Color ratio"
      },
      "default":0
    },
    {
      "type":"range",
      "id":"block_bgcolor_gradient_1_percent_1",
      "min":0,
      "max":100,
      "step":1,
      "unit":"%",
      "label":{
        "fr":"Début du flou",
        "es":"Blur beginning",
        "en":"Blur beginning"
      },
      "default":0
    },
    {
      "type":"range",
      "id":"block_bgcolor_gradient_2_percent_1",
      "min":0,
      "max":100,
      "step":1,
      "unit":"%",
      "label":{
        "fr":"Fin du flou ",
        "es":"Blur ending",
        "en":"Blur ending"
      },
      "default":100 
    },
    {
      "type":"color",
      "id":"section_shadow_color",
      "label":{
        "fr":"Ombre de la section",
        "es":"Shadow color of the section",
        "en":"Shadow color of the section"
      },      
      "default":"#000000"
    },
    {
      "type":"range",
      "id":"section_shadow_opacity",
      "min":0,
      "max":1,
      "step":0.1,
      "unit":"deg",
      "label":{
        "fr":"Degré d'opacité de la section",
        "es":"Opacity of the section",
        "en":"Opacity of the section"
      },
      "default":0.2
    },
    {
      "type":"range",
      "id":"section_shadow_size",
      "min":0,
      "max":100,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille de l'ombre de la section",
        "es":"Shadow size of the section",
        "en":"Shadow size of the section"
      },
      "default":0
    },

    {
      "type": "header",
      "content": {
          "fr": "Contenu",
          "es": "Content",
          "en": "Content"
      }
    },
    {
      "type": "checkbox",
      "id": "colors_product_content",
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },

    {
      "type":"color",
      "id":"block_title_color",
      "label":{
        "fr":"Titre de la section",
        "es":"Section title",
        "en":"Section title"
      },
      "default":"#333333"
    },

    {
      "type":"color",
      "id":"block_color",
      "label":{
        "fr":"Texte de la section",
        "es":"Section Text ",
        "en":"Section Text"
      },
      "default":"#333333"
    },
    {
      "type":"color",
      "id":"block_btn_color",       
      "label":{
         "fr":"Texte du bouton",
         "es":"Text button",
         "en":"Text button"
      },
      "default":"#FFFFFF"
    },
    {
      "type":"color",
      "id":"block_btn_bgcolor",       
      "label":{
         "fr":"Fond du bouton",
         "es":"color of button",
         "en":"Button background"
      },
      "default":"#333333"
    },
    {
      "type":"color",
      "id":"block_btn_color_hover",       
      "label":{
         "fr":"Texte du bouton survol",
         "es":"Text button on hover",
         "en":"Button text on hover"
      },
      "default":"#FFFFFF"
    },
    {
      "type":"color",
      "id":"block_btn_bgcolor_hover",       
      "label":{
         "fr":"Fond du bouton au survol",
         "es":"Button text background on hover",
         "en":"Button text background on hover"
      },
      "default":"#333333"
    },
    {
      "type":"color",
      "id":"block_btn_border_color",       
      "label":{
         "fr":"Bordure du bouton",
         "es":"Border of button  ",
         "en":"Border of button"
      },
      "default":"#FFFFFF"
    },
    {
      "type":"color",
      "id":"block_btn_border_color_hover",       
      "label":{
         "fr":"Fond bordure au survol",
         "es":"Border background on hover",
         "en":"Border background on hover"
      },
      "default":"#333333"
    },
    {
      "type": "header",
      "content": {
        "fr": "Personnalisation des tailles",
        "es": "Size customization",
        "en": "Size customization"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "[Tutoriel vidéo](https://youtu.be/ovHmpm105x8)",
        "es": "[Video tutorial](https://youtu.be/i4PZ8W99KYA)",
        "en": "[Video tutorial](https://youtu.be/i4PZ8W99KYA)"
      }
    },
    {
      "type": "checkbox",
      "id": "block_size_enable",
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "fr": "Format Bureau",
        "es": "Layout (Desktop)",
        "en": "Layout (Desktop)"
      }
    },  
    
    {
      "type":"range",
      "id":"block_title_size",
      "min":0,
      "max":60,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille du titre",
        "es":"Font size of title",
        "en":"Font size of title"
      },
      "default":21
    },
    {
      "type":"range",
      "id":"block_text_size",
      "min":0,
      "max":60,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille du texte",
        "es":"Font size of text",
        "en":"Font size of text"
      },
      "default":16
    },
    {
      "type": "range",
      "id": "block_btn_size",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": {
        "fr": "Taille du bouton",
        "es": "Font size of button",
        "en": "Font size of button"
      },
      "default": 26 
   },
   {
      "type": "range",
      "id": "block_btn_border_size",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": {
        "fr": "Taille de la bordure du bouton",
        "es": "Border size of button",
        "en": "Border size of button"
      },
      "default": 0
   },
    {
      "type": "header",
      "content": {
        "fr": "Format Mobile",
        "es": "Layout (Mobile)",
        "en": "Layout (Mobile)"
      }
    },
    {
      "type":"range",
      "id":"block_title_size_sm",
      "min":0,
      "max":60,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille du titre",
        "es":"Font size of title",
        "en":"Font size of title"
      },
      "default":21
    },
    {
      "type":"range",
      "id":"block_text_size_sm",
      "min":0,
      "max":60,
      "step":1,
      "unit":"px",
      "label":{
        "fr":"Taille du texte",
        "es":"Font size of text",
        "en":"Font size of text"
      },
      "default":16
    },
        
    {
      "type": "range",
      "id": "block_btn_size_sm",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": {
        "fr": "Taille du bouton",
        "es": "Font size of button",
        "en": "Font size of button"
      },
      "default": 26 
   },
   {
      "type": "range",
      "id": "block_btn_border_size_sm",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": {
        "fr": "Taille de la bordure du bouton",
        "es": "Border size of button",
        "en": "Border size of button"
      },
      "default": 0
   },    

    {
      "type": "header",
      "content": {
        "fr": "Personnalisation de la disposition",
        "es": "Spacing customization",
        "en": "Spacing customization"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "[Tutoriel vidéo](https://youtu.be/LLS1yEwaPsw)",
        "es": "[Video tutorial](https://youtu.be/Lv-3vaK-wNE)",
        "en": "[Video tutorial](https://youtu.be/Lv-3vaK-wNE)"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "Les espacements sont séparés par des espaces avec 4 valeurs maximales - Haut Droit Bas Gauche - L'unité peut être le rem, px, % - Exemple: 20px 0px 20px 20px - [En savoir plus](https://developer.mozilla.org/fr/docs/Web/CSS/padding) ",
        "es": "Spacing values are separated by spaces with 4 maximum values - Top Right Bottom Left - Unit can be rem, px, % - Example: 20px 0px 20px 20px - [Read more](https://developer.mozilla.org/en-US/docs/Web/CSS/padding)",
        "en": "Spacing values are separated by spaces with 4 maximum values - Top Right Bottom Left - Unit can be rem, px, % - Example: 20px 0px 20px 20px - [Read more](https://developer.mozilla.org/en-US/docs/Web/CSS/padding)"
        }
    },
    {
      "type": "checkbox",
      "id": "block_spacing_enable",
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },
    {
      "type": "text",
      "id": "section_max_width",
      "label": {
        "fr": "Longueur max (% ou px)",
        "es": "Max width (% ou px)",
        "en": "Max width (% or px)"
      }
    },
    {
      "type": "header",
      "content": {
        "fr": "Format Bureau",
        "es": "Layout (Desktop)",
        "en": "Layout (Desktop)"
      }
    },
    {
      "type": "text",
      "id": "block_padding",
      "label": {
        "fr": "Espacements intérieur",
        "es": "Interior Spacing",
        "en": "Interior Spacing"
      }
    },
    {
      "type": "text",
      "id": "block_margin",
      "label": {
        "fr": "Espacements extérieur",
        "es": "Exterior Spacing",
        "en": "Exterior Spacing"
      }
    },
    {
      "type": "header",
      "content": {
        "fr": "Format Mobile",
        "es": "Layout (Mobile)",
        "en": "Layout (Mobile)"
      }
    },
    {
      "type": "text",
      "id": "block_padding_sm",
      "label": {
        "fr": "Espacements intérieur",
        "es": "Interior Spacing",
        "en": "Interior Spacing"
      }
    },
    {
      "type": "text",
      "id": "block_margin_sm",
      "label": {
        "fr": "Espacements extérieur",
        "es": "Exterior Spacing",
        "en": "Exterior Spacing"
      }
    },
    {
      "type": "header",
      "content": {
        "fr": "Personnalisation avancée",
        "es": "Advanced CSS",
        "en": "Advanced CSS"
      }
    },
    {
      "type": "text",
      "id": "class",
      "label": "CSS Class"
    },
    {
      "type": "text",
      "id": "id",
      "label": "CSS Id"
    }

  ]
}
{% endschema %}