<div class="password-page__main__inner">

  {% comment %}
    Opening soon text
  {% endcomment %}
  {% if section.settings.header != blank %}
  <h2 class="password-page__hero">{{ section.settings.header | escape }}</h2>
  {% endif %}

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}

  {% unless shop.password_message == blank %}
    <div class="password-page__message">
      {{ shop.password_message }}
    </div>
    <hr class="hr--small hr--clear">
  {% endunless %}

  {% comment %}
    Signup form
  {% endcomment %}

  {% if section.settings.newsletter_enable %}
  <div class="password-page__signup-form">
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
      {% else %}
        <p class="h5">{{ section.settings.newsletter_form_heading | escape }}</p>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <div class="input-group">
          <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder | escape }}" autofocus>         
          <input type="submit" class="btn-secondary btn--small br-none" value="{{ section.settings.newsletter_button_text | escape }}">          
        </div>
      {% endif %}
    {% endform %}
  </div>
  {% endif %}

  {% if section.settings.show_share_buttons %}
  <div class="password-page__social-sharing">
    <p class="h5">{{ 'general.password_page.spread_the_word' | t }}</p>
    {% render 'social-sharing' %}
  </div>
  {% endif %}
</div>

{% schema %}
{
  "name": {
    "fr": "Content",
    "es": "Contenido",
    "en": "Content"
  },
  "class": "password-page__main",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": {
        "fr": "Heading",
        "es": "Encabezado",
        "en": "Heading"
      },
      "default": {
        "fr": "Bientôt disponible",
        "es": "Poximamente",
        "en": "Coming Soon"
      }
    },
    {
      "type": "header",
      "content": {
        "fr": "Newsletter",
        "es": "Newsletter",
        "en": "Newsletter"
      }
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "fr": "Show newsletter signup",
        "es": "Mostrar suscripción a la newsletter",
        "en": "Show newsletter signup"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "fr": "Newsletter form heading",
        "es": "Encabezado del formulario del Newsletter",
        "en": "Newsletter form heading"
      },
      "label": {
        "fr": "Find out when we open",
        "es": "Averigüe cuándo abrimos",
        "en": "Find out when we open"
      },
      "info": {
        "fr": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "fr": "Newsletter placeholder text",
        "es": "Texto del marcador de posición de la newsletter",
        "en": "Newsletter placeholder text"
      },
      "default": {
        "fr": "Votre email",
        "es": "Su email",
        "en": "Your email"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "fr": "Newsletter button text",
        "es": "Boton de texteo del Nexsletter",
        "en": "Newsletter button text"
      },
      "default": {
        "fr": "S'inscrire",
        "es": "Enviar",
        "en": "Submit"
      }
    },
    {
      "type": "header",
      "content": {
        "fr": "Social sharing",
        "es": "Compartir en redes sociales",
        "en": "Social sharing"
      }
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "fr": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "en": "Show social sharing buttons"
      },
      "default": true
    }
  ]
}
{% endschema %}

