<link rel="stylesheet" href="{{ 'section-testimonials.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}</noscript>

<div id="section-id-{{ section.id }}" class="{% if section.settings.section_spaced %}section-spaced{% endif %}  {% unless section.settings.block_color_enable %}color-scheme {{ section.settings.color_scheme }}{% endunless %} 
section-id-{{ section.id }} wow fadeIn {{ section.settings.class }}" 
id="{{ section.settings.id }}"  
data-wow-duration="{{ settings.wow_effects_duration }}s" 
data-wow-delay="{{ settings.wow_effects_delay }}s">

    <div class="container-testimonial {% if section.settings.full_page %} wrapper-full-page {% else %} wrapper{% endif %}" data-section-id="{{ section.id }}" data-section-type="testimonial">
      <div class="section-header section-header--layout-{{ section.settings.title_layout }}">
        <{{ section.settings.title_hn }} class="h1 {{ section.settings.title_hn }} section-title">{{ section.settings.testimonials_title }}</{{ section.settings.title_hn }}>
      </div>     
      
      <div class="slick-slider slider-items slider-testimonial" data-slider-nb-desktop="{{ section.settings.slider_items_desktop }}" data-slider-nb-mobile="{{ section.settings.slider_items_mobile }}"> 

        {% for block in section.blocks %}
        <div {{ block.shopify_attributes }}>
          {% if block.settings.image %}
            
            <img  
              width= "{{ block.settings.image.width }}"
              height= "{{ block.settings.image.height }}"
              loading="lazy"
              class="lazy"
              src="{{ block.settings.image | img_url: settings.perf_img_lazy }}" 
              data-src="{{ block.settings.image | img_url: settings.perf_img_lazy }}" 
              data-srcset="{{ block.settings.image | img_url: '750x' }} 600w, {{ block.settings.image | img_url: '750x' }} 750w                      
              {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"            
              alt="{{ block.settings.image.alt | escape }}"           
              alt="{{ block.settings.image.alt }}"
              style="border-radius:{{ section.settings.block_image_radius_v2 }};">    
          
          {% endif %}  

          <blockquote>

            {% if block.settings.stars > 0 %}
            <p>
              {% assign rating = block.settings.stars %}           
              {% for i in (1..5) %}
                {% assign half = i | minus: 0.5 %}
                {% if rating >= i %}
                  <i class="fa fa-star" aria-hidden="true"></i>
                {% elsif rating >= half %}
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                {% endif %}
              {% endfor %}         
            </p> 
            
            {% endif %}
           
            <p><i class="auteur">{{ block.settings.title | escape }}</i></p>
                
            <cite>{{ block.settings.content }}</cite>

          </blockquote>   
        </div>	
        {% endfor %} 

      </div>
    </div> 
</div> 

{% render 'section-custom-css', elem: section %}
{% render 'section-testimonials-custom-css', elem: section %}

{% schema %}
{

  "name": {
    "fr": "Témoignages",
    "es": "Testimonios",
    "en": "Testimonials"
  },
  "class": "testimonials", 
  "max_blocks": 9,
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {  
          "type":"image_picker",
          "id":"image",

          "label": {
            "fr": "Photo",
            "es": "Foto",
            "en": "Photo"
          },

          "info": {
            "fr": "150px sur 150x - Format carré exigé",
            "es": "150px por 150x - Formato cuadrado requerido",
            "en": "150px on 150x - Square format required"
          }
        },
        {
          "type": "text",
          "id": "title",

          "label": {
            "fr": "Auteur",
            "es": "Autor",
            "en": "Author"
          },

          "default": {
            "fr": "Nom du client et ville",
            "es": "Nombre del cliente y ciudad",
            "en": "Client's name and city"
          }
        },
        {
           "type":"range",
           "id":"stars",
           "min":0,
           "max":5,
           "step":0.5,
           "unit":"nb",
           "label":{
              "fr":"Nombre d'étoilles",
              "es":"Stars",
              "en":"Number of stars"
           },
           "default":0
         },
        {
          "type": "richtext",
          "id": "content",

          "label": {
            "fr": "Témoignages",
            "es": "Testimonios",
            "en": "Testimonials"
          },

          "default": {
            "fr": "<p>Témoignage du client</p>",
            "es": "<p>Testimonios de clientes</p>",
            "en": "<p>Client testimonial</p>"
          }
        }
      ]
    }
  ],
  "settings": [
	{
    "type": "paragraph",
    "content": {
      "fr": "[Tutoriel vidéo](https://youtu.be/4o3MqKtjmjE)",
      "es": "[Video tutorial](https://youtu.be/_yTCajfwp30)",
      "en": "[Video tutorial](https://youtu.be/_yTCajfwp30)"
    }
  },
    {
      "type":"header",
      "content": {
        "fr": "Important",
        "es": "Important",
        "en": "Important"
      }
    }, 
    {
      "type": "paragraph",
      "content": {
        "fr": "Certaines options nécessitent de cliquer sur Enregistrer afin de voir le changement",
        "es": "Some options require clicking on Save to see the change",
        "en": "Some options require clicking on Save to see the change"
      }    
    },
    {
      "type": "text",
      "id": "testimonials_title",

      "label": {
        "fr": "Titre de la section",
        "es": "Título sección testimonio",
        "en": "Section title"
      },

      "default": {
        "fr": "Témoignages",
        "es": "Testimonios",
        "en": "Testimonials"
      }
    },
    {
      "type": "select",
      "id": "title_hn",
      "label": {
        "fr": "Balise Hn du titre de la section (SEO)",
        "es": "Hn tag of section title (SEO)",
        "en": "Hn tag of section title (SEO)"
      },
      "default": "h2",
      "options": [
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        },
        {
          "value": "p",
          "label": "p"
        },
        {
          "value": "div",
          "label": "div"
        }
      ]
    },
    
    {
       "type":"checkbox",
       "id":"slider_arrows",       
       "label":{
          "fr":"Afficher les flèches",
          "es":"Mostrar flechas",
          "en":"Show arrows"
       },
       "default":true
     }, 
    {
       "type": "text",
       "id": "slider_items_desktop",
       "label": {
         "fr": "Nombre sur version Bureau",
         "es": "Número en la versión para PC",
         "en": "Number on Desktop version"
       },
       "default": "1"
    },
    {
       "type": "text",
       "id": "slider_items_mobile",
       "label": {
         "fr": "Nombre sur version Mobile",
         "es": "Número en la versión para Mobile",
         "en": "Number on Mobile version"
       },
       "default": "1"
    },
    {
       "type":"header",
       "content":{
          "fr":"Mise en forme",
          "es":"Layout",
          "en":"Layout"
       }
     },
     {
      "type":"text",
      "id":"block_image_radius_v2",     
      "label":{
        "fr":"Arrondi de l'image",
        "es":"Rounded corners on image",
        "en":"Rounded corners on image"
      },
      "default":"0px",
      "info":"px or % (50% = perfect circle)"
    }, 
     {
      "type": "checkbox",
      "id": "full_page",
      "label": {
        "fr": "Pleine page",
        "es": "Full page",
        "en": "Full page"
      },
      "default": false
    }, 
    {
       "type":"checkbox",
       "id":"section_spaced",       
       "label":{
          "fr":"Espacer la section - Haut",
          "es":"Add space - Above the section",
          "en":"Add space - Above the section"
       },
       "default":true
    },
    {
      "type": "select",
      "id": "title_layout",
      "label": {
        "fr": "Modèle de titre",
        "es": "Title layout",
        "en": "Title layout"
      },
      "default": "1",
      "options": [
        {
          "value": "0",
          "label": {
            "fr": "Modèle 1",
            "es": "Layout 1",
            "en": "Layout 1"
          }
        },
        {
          "value": "1",
          "label": {
            "fr": "Modèle 2",
            "es": "Layout 2",
            "en": "Layout 2"
          }
        },
        {
          "value": "2",
          "label": {
            "fr": "Modèle 3",
            "es": "Layout 3",
            "en": "Layout 3"
          }
        }
       ]
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": {
        "fr": "Combinaison de couleurs",
        "es": "Color combinations",
        "en": "Color combinations"
      },
      "default": "color-scheme-none",
      "options": [
        {
          "value": "color-scheme-none",
          "label": {
            "fr": "Sans",
            "es": "None",
            "en": "None"
          }
        },
        {
          "value": "color-scheme-1",
          "label": {
            "fr": "Combinaison 1",
            "es": "Combination 1",
            "en": "Combination 1"
          }
        },
         {
          "value": "color-scheme-2",
          "label": {
            "fr": "Combinaison 2",
            "es": "Combination 2",
            "en": "Combination 2"
          }
        },
         {
          "value": "color-scheme-3",
          "label": {
            "fr": "Combinaison 3",
            "es": "Combination 3",
            "en": "Combination 3"
          }
        },
        {
          "value": "color-scheme-inverse",
          "label": {
            "fr": "Inversé",
            "es": "Inverted",
            "en": "Inverted"
          }
        }
        
      ]
    },    
   
    {
      "type": "header",
      "content": {
        "fr": "Personnalisation des couleurs",
        "es": "Color customization",
        "en": "Color customization"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "[Tutoriel vidéo](https://youtu.be/mX5vrnrv4_I)",
        "es": "[Video tutorial](https://youtu.be/j8md1egrR_4)",
        "en": "[Video tutorial](https://youtu.be/j8md1egrR_4)"
      }
    },
    {
      "type": "paragraph",
      "content": {
      "fr": "Reprend la main sur les paramètres génériques du thème",
      "es": "Will replace the generic customization from theme settings",
      "en": "Will replace the generic customization from theme settings"
      }
    },
    
    {
      "type": "header",
      "content": {
          "fr": "Section",
          "es": "Section",
          "en": "Section"
      }
    },
       
    {
      "type": "checkbox",
      "id": "block_color_enable",
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },
     
     {
       "type":"color",
       "id":"block_bgcolor",       
       "label":{
          "fr":"Couleur de fond",
          "es":"Background color",
          "en":"Background color"
       },
       "default":"#333333"
     },
     {
       "type":"image_picker",
       "id":"block_image",       
       "label":{
          "fr":"Image de fond (optionnel)",
          "es":"Background image (optional)",
          "en":"Background image (optional)"
       },
       "info":"1900px Min"
     },
     {
       "type":"checkbox",
       "id":"section_parallax",      
       "label":{
          "fr":"Effet parallax",
          "es":"Parallax effect",
          "en":"Parallax effect"
       },
       "default":false
     },
     {
       "type":"checkbox",
       "id":"block_bgcolor_gradient",       
       "label":{
          "fr":"Activer la prise en charge du dégradé",
          "es":"Enable gradient",
          "en":"Enable gradient"
       },
       "default":false
     },
	 {
        "type": "range",
        "id": "block_bgcolor_gradient_direction",
        "min": 0,
        "max": 180,
        "step": 2,
        "unit": "deg",
        "label": {
          "fr": "Sens du dégradé",
          "es": "Gradient direction",
          "en": "Gradient direction"
        },
        "default": 90
     },
     {
       "type":"color",
       "id":"block_bgcolor_gradient_1",       
       "label":{
          "fr":"Fond - Couleur 1",
          "es":"Background - Color 1",
          "en":"Background - Color 1"
       },
       "default":"#F0F0F0"
     },     
     {
       "type":"color",
       "id":"block_bgcolor_gradient_2",       
       "label":{
          "fr":"Fond - Couleur 2",
          "es":"Background - Color 2",
          "en":"Background - Color 2"
       },
       "default":"#333333"
     },
     {
        "type": "range",
        "id": "block_bgcolor_gradient_1_percent_2",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": {
          "fr": "Proportion des couleurs",
          "es": "Color ratio",
          "en": "Color ratio"
        },
        "default": 0
     },
     {
        "type": "range",
        "id": "block_bgcolor_gradient_1_percent_1",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": {
          "fr": "Début du flou",
          "es": "Blur beginning",
          "en": "Blur beginning"
        },
        "default": 0
     },
     {
        "type": "range",
        "id": "block_bgcolor_gradient_2_percent_1",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": {
          "fr": "Fin du flou ",
          "es": "Blur ending",
          "en": "Blur ending"
        },
        "default": 100
     },
     
     
     
     
     {
       "type":"color",
       "id":"section_shadow_color",       
       "label":{
          "fr":"Ombre de la section",
          "es":"Shadow color of the section",
          "en":"Shadow color of the section"
       },
       "default":"#000000"
     },
     {
        "type": "range",
        "id": "section_shadow_opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "unit": "deg",
        "label": {
          "fr": "Degré d'opacité de la section",
          "es": "Opacity of the section",
          "en": "Opacity of the section"
        },
        "default": 0.2
     },
     {
        "type": "range",
        "id": "section_shadow_size",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": {
          "fr": "Taille de l'ombre de la section",
          "es": "Shadow size of the section",
          "en": "Shadow size of the section"
        },
        "default": 0
     },  
     {
       "type":"color",
       "id":"block_shadow_color",       
       "label":{
          "fr":"Ombre de l'image",
          "es":"Shadow color of the image",
          "en":"Shadow color of the image"
       },
       "default":"#000000"
     },
     {
        "type": "range",
        "id": "block_shadow_opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "unit": "deg",
        "label": {
          "fr": "Degré d'opacité de l'image",
          "es": "Opacity of the image",
          "en": "Opacity of the image"
        },
        "default": 0.2
     },
     {
        "type": "range",
        "id": "block_shadow_size",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": {
          "fr": "Taille de l'ombre",
          "es": "Shadow size and image area",
          "en": "Shadow size and image area"
        },
        "info": {
		  "fr": "Décalage automatique de l'image pour permettre l'affichage de l'ombrage",
          "es": "Automatically offsets the image to allow shading to be displayed",
          "en": "Automatically offsets the image to allow shading to be displayed"
        },
        "default": 0
     },

     {
      "type": "header",
      "content": {
          "fr": "Contenu",
          "es": "Content",
          "en": "Content"
      }
    },
    {
      "type": "checkbox",
      "id": "colors_product_content",
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },
    {
      "type":"color",
      "id":"block_title_color",       
      "label":{
         "fr":"Couleur du titre",
         "es":"Title color",
         "en":"Title color"
      },
      "default":"#FFFFFF"
    },
    {
      "type":"color",
      "id":"block_color",       
      "label":{
         "fr":"Couleur du texte",
         "es":"Text color",
         "en":"Text color"
      },
      "default":"#FFFFFF"
    },
    {
      "type": "color",
      "id": "color_testimonial_text",
      "label": {
        "fr": "Texte des témoignages",
        "es": "Color del texto de los testimonios",
        "en": "Testimonials text color"
      },
      "default": "#000000"
    },
    {
      "type":"color",
      "id":"color_testimonial_star",       
      "label":{
         "fr":"Couleur des étoiles",
         "es":"Stars color",
         "en":"Stars color"
      },
      "default":"#ffffff"
    },
    {
      "type": "color",
      "id": "color_testimonial_arrow_bg",
      "label": {
        "fr": "Fond flèches des témoignages",
        "es": "Color de fondo de las flechas de los testimonios",
        "en": "Testimonials arrows background color"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "color_testimonial_arrow",
      "label": {
        "fr": "Flèches des témoignages",
        "es": "Color de las flechas en los testimonios",
        "en": "Testimonials arrows color"
      },
      "default": "#fff"
    },

    {
      "type": "header",
      "content": {
        "fr": "Personnalisation des tailles",
        "es": "Size customization",
        "en": "Size customization"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "[Tutoriel vidéo](https://youtu.be/ovHmpm105x8)",
        "es": "[Video tutorial](https://youtu.be/i4PZ8W99KYA)",
        "en": "[Video tutorial](https://youtu.be/i4PZ8W99KYA)"
      }
    },
    {
      "type": "checkbox",
      "id": "block_size_enable",
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "fr": "Format Bureau",
        "es": "Layout (Desktop)",
        "en": "Layout (Desktop)"
      }
    },       
	 {
        "type": "range",
        "id": "block_title_size",
        "min": 0,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": {
          "fr": "Taille du titre",
          "es": "Font size of title",
          "en": "Font size of title"
        },
        "default": 21
     },
     {
        "type": "range",
        "id": "block_text_size",
        "min": 0,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": {
          "fr": "Taille du texte",
          "es": "Font size of text",
          "en": "Font size of text"
        },
        "default": 16
     },
     
          
     {
      "type": "header",
      "content": {
        "fr": "Format Mobile",
        "es": "Layout (Mobile)",
        "en": "Layout (Mobile)"
      }
    },  
     {
        "type": "range",
        "id": "block_title_size_sm",
        "min": 0,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": {
          "fr": "Taille du titre",
          "es": "Font size of title",
          "en": "Font size of title"
        },
        "default": 21
     },
     {
        "type": "range",
        "id": "block_text_size_sm",
        "min": 0,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": {
          "fr": "Taille du texte",
          "es": "Font size of text",
          "en": "Font size of text"
        },
        "default": 16
     },
     {
      "type": "header",
      "content": {
        "fr": "Personnalisation de la disposition",
        "es": "Spacing customization",
        "en": "Spacing customization"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "[Tutoriel vidéo](https://youtu.be/LLS1yEwaPsw)",
        "es": "[Video tutorial](https://youtu.be/Lv-3vaK-wNE)",
        "en": "[Video tutorial](https://youtu.be/Lv-3vaK-wNE)"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "fr": "Les espacements sont séparés par des espaces avec 4 valeurs maximales - Haut Droit Bas Gauche - L'unité peut être le rem, px, % - Exemple: 20px 0px 20px 20px - [En savoir plus](https://developer.mozilla.org/fr/docs/Web/CSS/padding) ",
        "es": "Spacing values are separated by spaces with 4 maximum values - Top Right Bottom Left - Unit can be rem, px, % - Example: 20px 0px 20px 20px - [Read more](https://developer.mozilla.org/en-US/docs/Web/CSS/padding)",
        "en": "Spacing values are separated by spaces with 4 maximum values - Top Right Bottom Left - Unit can be rem, px, % - Example: 20px 0px 20px 20px - [Read more](https://developer.mozilla.org/en-US/docs/Web/CSS/padding)"
        }
    },
    {
      "type": "checkbox",
      "id": "block_spacing_enable",
      "label": {
        "fr": "Activer",
        "es": "Activate",
        "en": "Activate"
      },
      "default": false
    },
    {
      "type": "text",
      "id": "section_max_width",
      "label": {
        "fr": "Longueur max (% ou px)",
        "es": "Max width (% ou px)",
        "en": "Max width (% or px)"
      }
    },
    {
      "type": "header",
      "content": {
        "fr": "Format Bureau",
        "es": "Layout (Desktop)",
        "en": "Layout (Desktop)"
      }
    },
    {
      "type": "text",
      "id": "block_padding",
      "label": {
        "fr": "Espacements intérieur",
        "es": "Interior Spacing",
        "en": "Interior Spacing"
      }
    },
    {
      "type": "text",
      "id": "block_margin",
      "label": {
        "fr": "Espacements extérieur",
        "es": "Exterior Spacing",
        "en": "Exterior Spacing"
      }
    },
    {
      "type": "header",
      "content": {
        "fr": "Format Mobile",
        "es": "Layout (Mobile)",
        "en": "Layout (Mobile)"
      }
    },
    {
      "type": "text",
      "id": "block_padding_sm",
      "label": {
        "fr": "Espacements intérieur",
        "es": "Interior Spacing",
        "en": "Interior Spacing"
      }
    },
    {
      "type": "text",
      "id": "block_margin_sm",
      "label": {
        "fr": "Espacements extérieur",
        "es": "Exterior Spacing",
        "en": "Exterior Spacing"
      }
    },
    {
      "type": "header",
      "content": {
        "fr": "Personnalisation avancée",
        "es": "Advanced CSS",
        "en": "Advanced CSS"
      }
    },
    {
      "type": "text",
      "id": "class",
      "label": "CSS Class"
    },
    {
      "type": "text",
      "id": "id",
      "label": "CSS Id"
    }
  ],
  "presets": [
    {
      "name": {
        "fr": "Témoignages",
        "es": "Testimonios",
        "en": "Testimonials"
      },
      "category": {
        "fr": "Module",
        "es": "Módulo",
        "en": "Module"
      },
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}